<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>喫茶店エリア選択</title>
</head>
<body>
    <h1>エリアを選んでください</h1>

    {% if current_user.is_authenticated %}
        <p>ようこそ、{{ current_user.username }}さん！ <a href="{{ url_for('logout') }}">ログアウト</a></p>
    {% else %}
        <p>
            <a href="{{ url_for('login') }}">ログイン</a> |
            <a href="{{ url_for('register') }}">新規登録</a>
        </p>
    {% endif %}

    <ul>
        {% for area in areas %}
            <li><a href="/area/{{ area }}">{{ area }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
